body{
    background: #66999;
}
form{
    border:0px solid white;
    width: 400px;
    margin: auto;
    background:#cccc66;
    font-size: 20px;

    
}
input[type=text],input[type=password]

{
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border:  1px solid #ccc;
    box-sizing: border-box;
    font-size: 17px;
    
}
button{
    background: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    
}
button:hover{
    opacity: 0.4;
    
}

.container{
    padding: 16px;
    background: #3366;
     
}
p{
    text-align: center;
    font-size: 20px;
}